# Custom .pylintrc file for mythtv_services_api. Use pylint --reports=y
# to see the reports.

[REPORTS]
# Set the output format. WAS: text
output-format=colorized

# Tells whether to display a full report or only the messages. WAS: yes
reports=no

[MISCELLANEOUS]
# List of note tags to take in consideration, separated by a comma. HAD: TODO,XXX
# Uncommenting the next line would remove the TODO warnings.
notes=FIXME

[FORMAT]
# Maximum number of characters on a single line. WAS: 80
# but changed to 79 to match pep8 check.
max-line-length=79

[DESIGN]
# Maximum number of branch for function / method body. WAS: 12
max-branches=20

# Maximum number of attributes for a class (see R0902). WAS: 7
max-attributes=10
